<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bogdan.core">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:authorities="${applicationId}.sdkinitprovider"
            android:name=".SdkInitProvider"
            android:exported="false"/>

    </application>
</manifest>